# Virtual environment
venv/

# Python bytecode and compiled files
__pycache__/
*.pyc

#  security keys
*.env
/reshma_portfolio.pem

# Ignore requirements if dynamically generated

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
