option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: reshma_portfolio_backend.settings
    PYTHONBUFFERED: 'TRUE'

container_commands:
  01_migrate:
    command: "python manage.py migrate"
    leader_only: true
